
#wall .tag-1 {
  display:block;
}
#wall #tag-2 {
  display:block;
}
div#wall #tag-3.slick {
  display:block;
} 
.tag-1 {
  backkground: url(../images/tag-2.png) no-repeat;
z-index: 6;
}
.tag-1, #tag-2, #tag-3, #tag-4, #tag-5, #tag-6, #tag-7 {
  position: relative;
  top:auto;
  left:auto;
  width:auto;
  height:auto;
}
